@use 'sass:color';

:root {
	--color: white;
	--bg-color: #444;
	--selected: pink;
	--error-color: #ff1493;
	--focus-color: #ffc0cb;

	--header-height: 60px;
	--header-border: 0;
	--header-padding-left: .4em;
	--header-padding-right: .4em;
	--header-logo-width: 20px;
	--header-logo-height: 20px;
	--header-icon-margin: 0 .2em;
	--header-color: var(--color);
	--header-bg-color: color-mix(in hsl, var(--bg-color), black 5%);
}

@font-face {
	font-family: 'Material Symbols Outlined';
	src: url('/fonts/material-symbols.woff2') format('woff2');
	font-display: block;
}

.icon {
	font-family: 'Material Symbols Outlined';
	margin-top: .1rem;
	font-size: 1.5rem;
	font-weight: normal;
	font-style: normal;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 1.5rem;
	min-width: 1.5rem;
	height: 1.5rem;
	overflow: hidden;
	white-space: nowrap;
	letter-spacing: normal;
}

header {
	display: flex;
	align-items: center;
	height: var(--header-height);
	padding: 0 .5rem;
	color: var(--header-color);
	background: var(--header-bg-color);
	user-select: none;
	#header-left, #header-right, #top-menu {
		display: flex;
		align-items: center;
		gap: .4rem;
	}
	#header-left {
		margin-right: auto;
		> a {
			display: flex;
			align-items: center;
		}
	}
	#logo {
		width: var(--header-logo-width);
		height: var(--header-logo-height);
		object-fit: contain;
	}
	.header-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		&.circle-icon {
			width: 2rem;
			height: 2rem;
			border-radius: 50%;
			background: rgba(0,0,0,0.1);
		}
	}
	#top-menu a {
		display: flex;
		align-items: center;
		height: 100%;
		text-decoration: none;
		&.current {
			color: var(--selected);
		}
	}
}

#menu-open {
	cursor: pointer;
}
#menu {
	position: fixed;
	top: 60px;
	left: 0;
	width: 320px;
	padding: .5rem;
	background: var(--header-bg-color);
	color: var(--color);
	user-select: none;
	transform: translateX(-100%);
	transition: transform 0.15s ease-out;
	overflow-y: auto;
	&.active { transform: translateX(0) }
	&::backdrop { background: rgba(0, 0, 0, 0.6) }
	&:focus { outline: none }
	.item, .sub-item {
		cursor: pointer;
		&.current { color: var(--selected) }
	}
	.label {
		display: flex;
		align-items: center;
		height: 32px;
		gap: 4px;
		border-radius: 4px;
		&:hover { opacity: 0.7 }
		span { flex: 1 }
		.sub-icon {
			margin-left: .5rem;
			&::after { content: 'arrow_right' }
		}
	}
	.item {
		&.active {
			> .label .sub-icon::after { content: 'arrow_drop_down' }
			> .sub-item-container { max-height: 200px }
		}
		.sub-item-container {
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.15s ease-out;
			.sub-item .label {
				padding-left: .5rem;
			}
		}
	}
}

#menu-right-open {
	cursor: pointer;
}
#menu-right {
	position: fixed;
	top: 64px;
	right: 10px;
	width: 320px;
	margin: 0 0 0 auto;
	overflow-y: auto;
	color: var(--color);
	background: var(--header-bg-color);
	border-radius: .5rem;
	&::backdrop { background: rgba(0, 0, 0, 0.6) }
	&:focus { outline: none; }
	transform: translateX(100%);
	transition: transform 0.15s ease-out;
	&.active { transform: translateX(0) }
	.item {
		.label {
			display: flex;
			align-items: center;
			gap: .5rem;
			padding: .2rem .4rem;
		}
		&:hover { opacity: 0.7; }
		&.active { color: var(--selected) }
		cursor: pointer;
	}
}

body {
	color: var(--color);
	background: var(--bg-color);
	min-width: 480px;
}

a {
	text-decoration: none;
	color: var(--color);
	&:hover {
		opacity: .6;
	}
	&.active {
		color: var(--color);
	}
	> i {
		vertical-align: middle;
	} 
}

.error {
	color: var(--error-color);
	font-weight: bold;
}

#body {
	height: calc(100vh - var(--header-height));
	main {
		flex: 1;
		color: var(--color);
		background: var(--bg-color);
		padding: 1rem;
		overflow-y: auto;
	}
}

#modal-bg {
	z-index: 65535;
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: none;
	cursor: pointer;
	&.on {
		display: block;
	}
}

.circle-icon {
	width: 24px;
	height: 24px;
	background: #ccc;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: .8rem;
}

.badge {
	position: relative;
	display: inline-block;
	user-select: none;
	.count {
		position: absolute;
		top: -5px;
		right: -5px;
		font-size: 6px;
		padding: 2px 5px;
		border-radius: 50%;
		background: red;
	}
}

@mixin scrollbar {
	&::-webkit-scrollbar {
		width: 14px;
	}
	&::-webkit-scrollbar-track {
		background: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #888;
		border-radius: 10px;
		border: 4px solid transparent;
		background-clip: padding-box;
	}
}

.box {
	@include scrollbar;
	padding: .5rem;
	border-radius: .5rem;
	word-break: break-all;
	overflow-y: scroll;
	min-height: 0;
	border: 1px solid var(--color);
}

@mixin iconText {
	padding: 0 1rem;
	margin: .2rem;
	border-radius: 5px;
	line-height: 2rem;
	font-size: 1.2rem;
	font-weight: bold;
	user-select: none;
}

button,input[type='button'],input[type='submit'] {
	@include iconText;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: .2rem;
	cursor: pointer;
	background: #6495ed;
	&.primary {
		background: #3cb371;
	}
	&.secondary {
		background: #808080;
	}
}

@mixin cardHF {
	@include iconText;
	slot {
		display: contents;
	}
	[slot="header"], [slot="footer"] {
		display: flex;
		align-items: center;
		justify-content: center;
		height: var(--hf-height);
		> span:not(.icon) {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	position: relative;
	text-align: center;
	padding: 0 2rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	.left, .right {
		position: absolute;
		top: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		.icon {
			top: 0;
			margin: 0;
		}
	}
	.left {
		left: .4rem;
	}
	.right {
		right: .4rem;
		.icon {
			cursor: pointer;
		}
	}
	> :not(.left):not(.right) {
		vertical-align: middle;
	}
}

dialog {
	overflow: hidden;
}

.card {
	--hf-height: 32px;
	--min-width: auto;
	--width: auto;
	--max-width: auto;
	--min-height: auto;
	--height: auto;
	--max-height: 50vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-width: var(--min-width);
	width: var(--width);
	max-width: var(--max-width);
	min-height: var(--min-height);
	height: var(--height);
	max-height: var(--max-height);
	overflow: hidden;
	border: 1px solid var(--color);
	border-radius: .5rem;
	background: var(--bg-color);
	.header { @include cardHF; }
	.body {
		@include scrollbar;
		min-height: 0;
		padding-left: .5rem;
		overflow-y: scroll;
		word-break: break-all;
	}
	.footer { @include cardHF; }
}

.card-full {
	@extend .card;
	height: 100%;
	width: 100%;
	.body {
		max-height: 100vh;
	}
}

.g {
	display: grid;
	gap: .5rem;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.border {
	border: solid #f00 1px;
}

form {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	@extend .form-preview;
	input, textarea {
		font-size: 1rem;
		padding: .5rem;
		background: var(--color);
		color: var(--bg-color);
		border-radius: 5px;
		user-select: none;
		&[type='radio'], &[type='checkbox'] {
			margin: 0 .5rem;
		}
	}
	select { margin-bottom: 1rem; }
	.f { margin-bottom: 1rem; }
	&.search {
		input, textarea {
			padding: .2rem .5rem;
			margin: 0 .2rem;
		}
		button,input[type='button'],input[type='submit'] {
			padding: .2rem 1rem;
			margin: 0 .2rem;
			height: 31px;
		}
	}
}

.form-preview {
	.label {
		color: var(--color);
		font-weight: bold;
		&:not(:first-child) {
			margin-top: 1rem;
		}
		span.required {
			padding-left: .25rem;
			color: red;
		}
	}
	.value {
		padding-left: 2rem;
	}
}

input {
	accent-color: var(--bg-color);
}

button, input, textarea, .body {
	&:focus-visible {
		outline: 2px solid var(--focus-color);
		outline-offset: -2px;
	}
}

.table {
	border-collapse: collapse;
	th {
		cursor: pointer;
		user-select: none;
	}
	th, td {
		border: solid 1px;
		padding: .1rem .5rem;
	}
}

.fixed-table {
	overflow: auto;
	width: 100%;
	height: calc(100vh - 140px);
	table {
		border-spacing: 0;
		tr:first-child th {
			border-top: 1px solid var(--color);
			border-bottom: 1px solid var(--color);
			&:first-child { z-index: 1 }
		}
		tr:not(:nth-child(2)) {
			th, td {
				border-top: 1px solid var(--color);
			}
		}
		tr:last-child {
			th, td {
				border-bottom: 1px solid var(--color);
			}
		}
		th, td {
			white-space: nowrap;
			padding: 4px 8px;
			background: #000;
			border-right: 1px solid var(--color);
		}
		th {
			position: sticky;
			top: 0;
			left: 0;
			&:first-child {
				border-left: 1px solid var(--color);
			}
		}
	}
}

.header-fixed-table {
	overflow: auto;
	width: 100%;
	height: 380px;
	height: calc(100vh - 140px);
	table {
		border-spacing: 0;
		th {
			position: sticky;
			top: 0;
			border-top: 1px solid var(--color);
			border-bottom: 1px solid var(--color);
		}
		th, td {
			white-space: nowrap;
			padding: 4px 8px;
			background: #000;
			border-right: 1px solid var(--color);
			&:first-child {
				border-left: 1px solid var(--color);
			}
		}
		td {
			border-bottom: 1px solid var(--color);
		}
	}
}

#notice-modal {
	color: var(--color);
	background: var(--bg-color);
}
