@use 'sass:color';

$color: white;
$bgColor: #444;

$headerHeight: 60px;
$headerColor: white;
$headerBgColor: #333;
$headerBorder: 0;
$headerPaddingLeft: .4em;
$headerPaddingRight: .4em;
$headerLogoWidth: 24px;
$headerLogoHeight: 24px;
$headerIconMargin: 0 .2em;

$menuColor: white;
$menuBgColor: #333;
$menuWidth: 280px;
$menuBorder: 0;
$menuHoverColor: color.adjust($menuBgColor, $lightness: 30%);
$menuActiveColor: color.adjust($menuBgColor, $lightness: 20%);

$menuRightColor: white;
$menuRightWidth: 280px;
$menuRightBgColor: #333;
$menuRightBorder: 0;
$menuRightBorderRadius: .8em;
$menuRightHoverColor: color.adjust($menuRightBgColor, $lightness: 30%);
$menuRightActiveColor: color.adjust($menuRightBgColor, $lightness: 20%);
