@use 'sass:color';

$color: white;
$bgColor: #444;
$selected: pink;
$errorColor: #ff1493;
$focusColor: #ffc0cb;

$headerHeight: 60px;
$headerColor: $color;
$headerBgColor: color.adjust($bgColor, $lightness: -5%, $space: hsl);
$headerLogoWidth: 20px;
$headerLogoHeight: 20px;

$menuWidth: 280px;
$menuBorder: 0;
$menuColor: $color;
$menuBgColor: color.adjust($bgColor, $lightness: -10%, $space: hsl);
$menuActiveColor: color.adjust($menuBgColor, $lightness: 10%, $space: hsl);
$subMenuActiveColor: color.adjust($menuBgColor, $lightness: 20%, $space: hsl);
$menuHoverColor: color.adjust($menuBgColor, $lightness: 30%, $space: hsl);

$menuRightWidth: 280px;
$menuRightBorder: 0;
$menuRightBorderRadius: .8em;
$menuRightColor: $color;
$menuRightBgColor: color.adjust($bgColor, $lightness: -10%, $space: hsl);
$menuRightActiveColor: color.adjust($menuRightBgColor, $lightness: 20%, $space: hsl);
$menuRightHoverColor: color.adjust($menuRightBgColor, $lightness: 30%, $space: hsl);
