doctype html
html(lang='ja')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(href='/favicon.ico' rel='icon')
		script(src='https://code.jquery.com/jquery-4.0.0.min.js')
		script(src='/js/main.min.js')
		link(href='/css/fw.min.css' rel='stylesheet')
		link(href='/css/main.min.css' rel='stylesheet')
		block vars
			- const title = '-'
		block head
		title #{title}
	body
		block body
