extends ./_layout/main.pug
block vars
	- const title = 'DIALOG'
block contents
	button.primary.open-alert
		span.icon launch
		span ALERT
	button.primary.open-confirm
		span.icon launch
		span CONFIRM
	button.primary.open-prompt
		span.icon launch
		span PROMPT
	j-alert(p-x='center')
	j-confirm(p-x='center')
	j-prompt(p-x='center')
	script(type='module').
		import jQC from './js/jq/jqc.min.js'
		await jQC.imports('dialog')
		const d = console.log
		const [ $alert ] = jQC.bind('j-alert')
		const [ $confirm ] = jQC.bind('j-confirm')
		const [ $prompt ] = jQC.bind('j-prompt')
		$('.open-alert').click(function() { $alert.open('アラート'.repeat(10), 'ALERT') })
		$('.open-confirm').click(async function() {
			d(await $confirm.open('コンファーム', 'CONFIRM'))
			d('confim end')
		})
		$('.open-prompt').click(async function() {
			d(await $prompt.open('PROMPT'))
		})
	style
		:scss
